<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PayrollRegister.Properties.Settings.SagePayroll" connectionString="Data Source=192.0.0.9;Initial Catalog=SagePayroll_ARM;Persist Security Info=True;User ID=estimpson;Password=)Kc0mput3r"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
